[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/sebastianpenning/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/sebastianpenning/ft_printf.git
[submodule "libft/norminette_tester"]
	path = libft/norminette_tester
	url = https://github.com/sebastianpenning/norminette_tester.git
[submodule "src/get_next_line"]
	path = src/get_next_line
	url = https://github.com/sebastianpenning/get_next_line.git
[submodule "src/ft_printf"]
	path = src/ft_printf
	url = https://github.com/sebastianpenning/ft_printf.git
[submodule "tests/norminette_tester"]
	path = tests/norminette_tester
	url = https://github.com/sebastianpenning/norminette_tester.git
